<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="task_mapper">


    <select id="getAllTasks" resultType="Task">
    <!-- <select id="getAllTasks" resultType="com.example.dto.TaskDTO"> -->
        SELECT * FROM tasks ORDER BY id DESC
    </select>

 <insert id="addTask">
        INSERT INTO tasks (title, description, status) 
        VALUES (#{title}, EMPTY_CLOB(), 'TODO')
    </insert>

    <update id="updateTaskStatus">
        UPDATE tasks SET status = #{status} WHERE id = #{id}
    </update>

    <delete id="deleteTask">
        DELETE FROM tasks WHERE id = #{id}
    </delete>

</mapper>