@charset "UTF-8";

h1 {
	color : red;
}

/* 전체 컨테이너 */
.addressMainContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.addressMainContainer .searchBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.addressMainContainer .searchBar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addressMainContainer .searchBar button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 전체 테이블 */
.addressMainContainer .addressList table {
    width: 100%;
    border-collapse: collapse;
}

/* row 스타일 */
.addressList .listRow {
    width: 100%;
    /* background-color: white; */
    border-bottom: 1px solid black;

    &:hover {
        background-color: #9ae49d;
        cursor: pointer;
    }
}

.addressMainContainer .addressList th, .addressList td {
    padding: 10px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}

.addressMainContainer .addressList th {
    background-color: #f2f2f2;
}

.addressMainContainer .addressList .btnDeleteRow {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}