@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.formTitle {
	color: lightgreen;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.formSubTitle {
	color: lightgreen;
	text-align: center;
	margin-bottom: 30px;
}

.item:focus {
	outline: none;
}

.findPasswordForm {
	display: flex;
	justify-content: center;
}

.form {
	width: 35%;
}

.formSection {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid lightgray;
	border-radius: 6px;
}

.item {
	width: 100%;
	border: 0px;
	padding: 5%;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid lightgray;
	background-color: white;
}

.btn {
	border-bottom: 0px;
}