@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 배경 */
.modalBackground {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;

    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 컨테이너 */
.profileModalContainer {
    width: 400px;
    height: 600px;
    padding: 20px;
    padding-top: 0;
    border: 2px solid black;
    background-color: #dadada;

    position: absolute;
}

.profileModalContainer .modalHeader {
    width: 100%;
    height: 35px;
    border: 1px solid blue;
}

/* 닫기버튼 */
.profileModalContainer .modalHeader button {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 1px solid red;
}

.profileModalContainer .modalBody {
    width: 100%;
    border: 1px solid green;

    display: flex;
    flex-direction: column;
}

/* 프로필 컨테이너 */
.modalBody div {
    width: 100%;
    padding: 1px;
}

/* 프로필 사진 */
.modalBody img {
    width: 85%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;

    border: 1px solid purple;
}