<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>공지사항</title>

<link href="../../../resources/css/notice.css" rel="stylesheet">

</head>
<body>
    <div class="noticeContainer">
        <h2>공지사항</h2>
        <div class="itemContainer">
            <table>
                <tr>
                    <th class="colTitle">제목</th>
                    <th class="colAuthor">작성자</th>
                    <th class="colDate">작성일</th>
                    <th class="colBtn">수정/삭제</th>
                </tr>
                <c:forEach var="notice" items="${notice}">
                    <tr>
                        <td class="colTitle">${notice.title}</td>
                        <td class="colAuthor">${notice.author}</td>
                        <td class="colDate">${notice.date}</td>
                        <td class="colBtn"><a href="delete/${notice.id}">삭제</a></td>
                    </tr>
                </c:forEach>
            </table>
        </div>
    </div>
</body>
</html>