<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.dao.calendar.CalendarDAO">

    <!-- 일정 조회 -->
    <select id="getAllEvents" resultType="com.app.dto.calendar.CalendarDTO">
        SELECT id, title, start_date AS startDate, end_date AS endDate, category
        FROM calendar_events
    </select>

    <!-- 일정 추가 -->
    <insert id="addEvent" parameterType="com.app.dto.calendar.CalendarDTO">
        INSERT INTO calendar_events (id, title, start_date, end_date, category)
        VALUES (calendar_events_seq.NEXTVAL, #{title}, #{startDate, jdbcType=TIMESTAMP}, #{endDate, jdbcType=TIMESTAMP}, #{category})
    </insert>

</mapper>