<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주소록 상세보기</title>

<link href="../../../resources/css/profileModal.css" rel="stylesheet">

</head>
<body>
    <div class="modalBackground">
        <div class="profileModalContainer">
            <div class="modalHeader">
                <button>X</button>
            </div>
            <div class="modalBody">
                <div>
                    <img src="/image/profileImage.jpg">
                </div>
                <div>
                    <!-- 아래 div들 id이름 바꾸면 안됨 -->
                    <div id="modalName">이름</div>
                    <div id="modalTel">연락처</div>
                    <div id="modalEmail">이메일</div>
                    <div id="modalDeptCode">부서</div>
                    <div id="modalPositionCode">직급</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>